[Desktop Entry]
Version=1.0
Type=Application
NoDisplay=true
Name=compfy (dbus)
GenericName=X compositor (dbus)
Comment=An X compositor with dbus backend enabled
Categories=Utility;
Keywords=compositor;composite manager;window effects;transparency;opacity;
TryExec=compfy
Exec=compfy --dbus
